@import "../main/parameters";


.box {
    padding: 20px 0 30px;
    border-bottom: 1px solid rgba(255,255,255,0.15);

    &__h1 {
        font-size: 36px; 
        font-weight: bold; 
        text-transform: uppercase;
        text-align: center;
        margin: 0 0 30px;
    }
    &__h2 {
        font-size: 28px; 
        font-weight: bold; 
        text-align: center;
        margin: 30px 0;
    }
    &__h3 {
        font-size: 20px; 
        font-weight: bold; 
        margin: 20px 0;
    }
    &__h4 {
        font-size: 16px; 
        font-weight: bold; 
        margin: 20px 0;
    }
    &__css::before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        height: 2px;
        width: 10px;
        background: #d94f5c;
    }
    &__text {
        color:  #b1b1b1;
    }
    &__text p {
        margin: 0 0 15px;
    }
    &__list {
        margin-top: 20px;
        color:  #b1b1b1;
    }
    &__list li {
        position: relative;
        padding-left: 15px;
        margin: 0 0 15px;
    }
    &__list li::before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        height: 7px;
        width: 7px;
        border-radius: 50%;
        background: #d94f5c;
    }
    &__list p {
        margin: 0 0 5px;
    }
    &__term {
        font-style: italic;
        margin: 25px 30px;
    }
    &__term dt {
        font-size: 18px;
        margin: 0 0 10px;
        position: relative;
    }
    &__term dt::before {
        content: '';
        position: absolute;
        top: calc(50% - 3px);
        left: -10px;
        height: 5px;
        width: 5px;
        background-color: $c-add;
        transition: background-color 0.9s;
        animation: dot 2s linear 2s infinite;
    }
    &__term dd {
        margin: 0 0 5px;
        margin-left: 15px;
        color: $c-add;
    }
    &__screen {
        max-width: 100%;
        border: 1px solid $c-add;
        margin: 20px 0 30px;
    }

    input {
        max-width: 350px;
    }
}

@keyframes dot {
    0% {
        background-color: $c-add;
    }
    50% {
        background-color: $c-primary;
    }
}

.removed {
    text-decoration: line-through;
}
.important {
    color: #d94f5c;
}
.alert {
    display: inline-block;
    color: #b1b1b1;
    font-size: 13px;
    background: rgba(217, 79, 93, 0.05);
    padding: 10px 15px;
    border: 1px dashed $c-primary;
    border-radius: 0 15px 15px 15px;
    margin: 0 20px;
    transition: all ease 0.3s;
    &:hover,
    &:focus {
        color: #fff!important;
        background: rgba(217, 79, 93, 0.2);
    }
}

.tab {
    display: block;
    padding-left: 20px;
}
.tab2 {
    display: block;
    padding-left: 40px;
}

.test-box {
    padding: 50px 0;
    &__list {
        padding: 0 30px;
    }
    &__list li {
        display: inline-block;
        margin: 0 10px 10px 0;
    }
    &__list a {
        display: inline-block; 
        padding: 5px 10px;
        background: rgba(0,0,0,0.0);
        border: 1px solid red;
        color: red;
        text-decoration: none;
        will-change: backgroun-color, color;
        transition: background-color ease 0.3s, color ease 0.3s;
    }
    &__list a:hover {
        background: red;
        color: #fff;
    }
}

/* селектор по части класса */
[class^=test-box] {
    padding: 5px;
    color: #fff;
}


.test-box__bs-cb {
    box-sizing: content-box;

    width: 200px;
    padding: 5px 10px;
    margin: 10px 15px;
    border: 3px solid #fff;
}
.test-box__bs-bb {
    box-sizing: border-box;

    width: 200px;
    padding: 5px 10px;
    margin: 10px 15px;
    border: 3px solid #fff;
}

.test-box__sizes {
    border: 3px solid red;
    background: rgba(255, 0, 0, 0.15);
    width: 300px;
    height: 50px;
}
.test-box__sizes2 {
    border: 3px solid green;
    background: rgba(0, 128, 0, 0.15);
    width: 50%;
    height: 50px;
}
.test-box__sizes3 {
    border: 3px solid blue;
    background: rgba(0, 0, 255, 0.15);
    width: 50vw;
    height: 50px;
}

.btn-test {
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid;
    font-size: 16px;
    text-decoration: none;
}
.btn-test--md {
    font-size: 32px;
}

.test-box__color-name {
    color: red;
    background: black;
}
.test-box__color-hex {
    color: #e6e6e6;
    background: #000;
}
.test-box__color-rgba {
    color: rgba(255, 0, 0, 0.5);
    background: rgb(0, 0, 0);
}
.test-box__color-rgba2 {
    background: rgba(0,0,0,0.5);
}
.test-box__color-rgba3 {
    background: rgba(0,0,0,0.2);
}

.test-box__margin {
    background: #000;
    margin: 30px;
    margin: 30px 50px;
    margin: 30px 45px 58px;
    margin: 30px 45px 58px 60px;
    margin-bottom: 15px;
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 35px;
}
.test-box__padding {
    background: #000;
    padding: 30px;
    padding: 30px 50px;
    padding: 30px 45px 58px;
    padding: 30px 45px 58px 60px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 30px;
    padding-top: 35px;
}

.test-box__border {
    color: $c-add;
    width: 75%;
    margin: 0 auto 15px;
    border: 1px solid $c-add;
}
.test-box__border2 {
    color: $c-add;
    width: 75%;
    margin: 0 auto 15px;
    border: 5px solid $c-add;
}
.test-box__border3 {
    color: $c-add;
    width: 75%;
    margin: 0 auto 15px;
    border: 3px dashed $c-add;
}
.test-box__border4 {
    color: $c-add;
    width: 75%;
    margin: 0 auto 15px;
    border: 3px dotted $c-add;
}

.test-box__collapse1 {
    color: #fff;
    margin:20px 0;
}
.test-box__collapse2 {
    color: #fff;
    margin:10px 0;
}
.test-box__collapse3 {
    padding: 0!important;
    margin:5px 0;
}
.test-box__collapse3 p {
    color: #fff;
    margin:10px 0;
}

/* POSITION */
.test-box__p-static {
    height: 50px;
    width: 300px;
    background: rgba(255, 0, 0, 1);
    border: 1px solid #000;

    position: static;
}
.test-box__p-relative {
    z-index: 2;
    height: 70px;
    width: 300px;
    background: rgba(47, 0, 255, 1);
    border: 1px solid #000;

    position: relative;
}
.test-box__p-absolute {
    height: 60px;
    width: 300px;
    background: rgb(234, 0, 255);
    border: 1px solid #000;

    position: absolute;
}
.test-box__p-fixed {
    height: 50px;
    width: 300px;
    background: rgba(21, 99, 1, 1);
    border: 1px solid #000;

    position: fixed;
}
.test-box__p-sticky {
    height: 50px;
    width: 300px;
    background: rgba(0,0,0,1);
    border: 1px solid #000;

    position: sticky;
}
.test-box__p-top {
    top: 25px;
}
.test-box__p-right {
    right: 25px;
}
.test-box__p-bottom {
    bottom: 25px;
}
.test-box__p-left {
    left: 25px;
}
.test-box-z--1 {
    z-index: -1;
}
.test-box-z-0 {
    z-index: 0;
}
.test-box-z-1 {
    z-index: 1;
}
.test-box-z-2 {
    z-index: 2;
}
.test-box-z-3 {
    z-index: 3;
}
.test-box-z-4 {
    z-index: 4;
}
.test-box-z-5 {
    z-index: 5;
}

table td {
    border: 1px solid;
    padding: 5px 15px;
}

/* БЭМ */
.badge {
    padding: 3px 8px;
    border-radius: 3px;
    display: inline-block;
    background: #333;
    color: #fff;
    white-space: nowrap;
    margin: 0 0 3px;
}
.badge--hit {
    background: green;
}
.badge--new {
    background: hotpink;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #000;
    background: #000;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
    transition: all ease 0.3s;
}
.btn--primary {
    color: #fff;
    border: 1px solid blue;
    background: blue;
}
.btn--primary:hover {
    background: blueviolet;
    border-color: blueviolet;
}

.product-item {
    font-family: sans-serif;
    color: #333;
    max-width: 300px;
    margin: 0 auto;
    padding: 5px 5px 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 4px;
    will-change: box-shadow;
    transition: all ease 0.3s;
    &__top {
        display: block;
        position: relative;
    }
    &__img-wrap {
        display: block;
        overflow: hidden;
        height: 190px;
        margin: 0 0 15px;
    }
    &__img {
        max-width: 100%;
        will-change: transform;
        transition: all ease 0.3s;
    }
    &__img:hover {
        transform: scale(1.1);
    }
    &__badges {
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    &__bottom {
        padding: 0 10px;
    }
    &__title {
        text-decoration: none;
        font-size: 17px;
        font-weight: 700;
        color: inherit;
        margin: 0 0 15px;
        will-change: color;
        transition: color ease 0.3s;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        height: 36px;
        overflow: hidden;
    }
    &__title:hover {
        color: blueviolet;
    }
    &__prices {
        color: #555;
        margin: 0 0 15px;
    }
    &__price-current {
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 5px;
    }
    &__price-old {
        text-decoration: line-through;
        font-size: 14px;
        font-weight: 700;
    }
    &__buy {
        text-align: center;
    }
    &:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }
}

.test-box__flex-container {
    border: 2px solid #fff;
    margin: 0 0 20px;
}
.test-box__row {
    display:flex;
    flex-wrap: wrap;
    border: 2px solid #fff;
    margin: 0 0 20px;
}
.test-box__flex-element {
    max-width: 25%;
    flex: 0 0 25%;
}
.test-box__flex-element--c1 {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.15);
}
.test-box__flex-element--c2 {
    border: 2px solid green;
    background: rgba(0, 128, 0, 0.15);
}
.test-box__flex-element--c3 {
    border: 3px solid blue;
    background: rgba(0, 0, 255, 0.15);
}

