+b('header').header
    .container
        +b('nav').nav
            +e('ul').__list
                +e('li').__item
                    +e('a').__link(href="index.html") Знакомство с Frontend
                +e('li').__item
                    +e('a').__link(href="devtools.html") Devtools
                +e('li').__item
                    +e('a').__link(href="html_base.html") HTML base
                +e('li').__item
                    +e('a').__link(href="html_bl_in.html") Block/inline
                +e('li').__item
                    +e('a').__link(href="css_base.html") CSS base
                +e('li').__item
                    +e('a').__link(href="position.html") Position + z-index
                +e('li').__item
                    +e('a').__link(href="css_selectors.html") CSS selectors
                +e('li').__item
                    +e('a').__link(href="bem.html") БЭМ методология
                +e('li').__item
                    +e('a').__link(href="flex.html") Flexboxes

