extends layout/layout

block vars
    - var pageTitle = 'Media Queries'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 Media Queries
            h2.box__h2 #1 Основные концепции
            ul.box__list
                li гибкая/резиновая верстка
                li адаптивная верстка
        .box
            h2.box__h2 #2 Основы
            dl.box__term
                dt Viewport
                dd это область на экране устройства, которая видна пользователю без прокрутки экрана.
                dd
                    img.box__screen(src="./assets/imgs/media.jpg")
            dl.box__term
                dt Media Queries(Медиазапросы)
                dd используются в тех случаях , когда нужно применить разные CSS-стили, для разных устройств по типу отображения (например: для принтера, монитора или смартфона), а также конкретных характеристик устройства  (например: ширины окна просмотра браузера), или внешней среды (например: внешнее освещение).
                dd Медиа запросы позволяют адаптировать страницу для различных типов устройств, таких как: принтеры, речевых браузеров, устройств Брайля, телевизоров и так далее.
                dd
                    span.alert
                        a(href="https://developer.mozilla.org/en-US/docs/Web/CSS/@media#media_types" target="_blank") Все виды устройств и их поддержка
            dl.box__term
                dt Примеры
                dd
                    img.box__screen(src="./assets/imgs/media1.jpg")
                dd
                    img.box__screen(src="./assets/imgs/media2.png" width="250")
        .box
            h2.box__h2 #3 Breakpoints
            dl.box__term
                dt Breakpoints(ключевые точки)
                dd при разработке вы можете использовать любые breakpoints, но лучше определиться с 4-6 основными точками и везде использовать их. Помимо этого, существуют самые популярные размеры устройств, которыми пользуются юзеры. Их можно посмотреть в интернете либо в самом браузере.
                dd
                    img.box__screen(src="./assets/imgs/media2.jpg")
        .box
            h2.box__h2 #4 Подходы
            dl.box__term
                dt Mobile first
                dd это верстка которая делается сначала для мобильных устройств, а после адаптируется под девайсы с большим разрешением.
                dd Основное преимущество такого подхода - можно в разы сократить нагрузку на мобильные устройства при загрузке.





