extends layout/layout

block vars
    - var pageTitle = 'Кроссбраузерность'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 Кроссбраузерность
            h2.box__h2 #1 Основная инфо
            dl.box__term
                dt Кроссбраузерность
                dd это одинаковое отображение и работа сайта в различных браузерах. Если не задуматься над этим вопросом на этапе верстки, то, создав сайт, вы увидите, что в разных браузерах он отображается по-разному и не везде корректно.
                dd Откуда возникла такая проблема? Дело в том, что браузеры используют разные движки. Браузерный движок занимается загрузкой, обработкой, отображением и расчетами данных. И хоть сегодня существует большое количество различных браузеров, если мы их разложим по используемым движкам, то увидим, что этих движков не так и много, так как создание своего движка является очень трудоемкой задачей.
        .box
            h2.box__h2 #2 Основные движки
            dl.box__term
                dt Blink
                dd принадлежит компании Google, имеет открытый исходный код, входит в состав проекта Chromium. Используют браузеры: Chrome, Opera, Яндекс.Браузер, Vivaldi и др. Над развитием этого движка работают многие крупные компании: Opera, Intel, IBM, Yandex, Vivaldi и другие.
            dl.box__term
                dt WebKit
                dd принадлежит компании Apple, имеет открытый исходный код, используется в браузере Safari. Именно этот движок c 2008 г. по 2013 г. использовала компания Google в своем браузере Chrome.
            dl.box__term
                dt Gecko
                dd принадлежит компании Mozilla, имеет открытый исходный код, используется в браузерах Firefox и Tor Browser.
            dl.box__term
                dt EdgeHTML
                dd принадлежит компании Microsoft, имеет закрытый исходный код, используется в браузере Edge. Пришел на смену движку Trident (использовался в Internet Explorer), с запуском Windows 10, и работает только на этой операционной системе. 15 января 2020 года Microsoft выпустило обновление для браузера Edge (Microsoft Edge 79 stable), в котором перешла на Chromium с браузерным движком Blink.
        .box
            h2.box__h2 #3 Префиксы
            dl.box__term
                dt Префиксы браузеров:
                dd если перед названием свойства стоит некоторый префикс, то это означает, что данное свойство реализовано и будет применяться исключительно в указанном браузере. Все остальные браузеры данное свойство будут игнорировать, т.к. для них данный префикс неизвестен.
                dd
                    ul.box__list
                        li -moz- используется в Firefox;
                        li -ms- используется в Edge и Internet Explorer;
                        li -webkit- используется в Safari, Chrome и браузерах на основе движков WebKit и Blink;
                        li -o- используется в старых версиях браузера Opera, работающего на движке Presto.С 2013 г.Opera перешла на движок Blink.
            dl.box__term
                dt Причины появления префиксов:
                dd Для включения в браузер экспериментальных свойств CSS, которые стандартом ещё не утверждены. Таким образом, производители браузеров производят тестирование и вносят предложения перед утверждением свойств CSS в стандарте.
                dd Для решения проблем с кроссбраузерностью.
        .box
            h2.box__h2 #4 Fallback (резервный вариант)
            dl.box__term
                dt Пример:
                dd
                    img.box__screen(src="./assets/imgs/cross.jpg")
        .box
            h2.box__h2 #5 Проверка поддержки свойства/метода
            dl.box__term
                dt Ресурс для проверки:
                dd
                    span.alert
                        a(href="https://caniuse.com/" target="_blank") https://caniuse.com/
                dd
                    img.box__screen(src="./assets/imgs/cross1.jpg")
                dd
                    ul.box__list
                        li Красный прямоугольник - браузер, в котором данное свойство не реализовано;
                        li Зелёный прямоугольник с дефисом, расположенным в правом верхнем углу – браузер, в котором данное свойство используется через префикс;
                        li Светло-зелёный прямоугольник – браузер, в котором данное свойство реализовано частично;
                        li Зелёный прямоугольник – браузер, в котором данное свойство реализовано в соответствии со стандартом.
        //.box https://1ps.ru/blog/sites/2019/chto-takoe-krossbrauzernost-sajtov/
            h2.box__h2 #6 CSS-хаки
            dl.box__term
                dt CSS-хаки
                dd Это использование специальных свойств, понимаемых только определенными браузерами
        //.box https://1ps.ru/blog/sites/2019/chto-takoe-krossbrauzernost-sajtov/
                    h2.box__h2 #7 Разделение стилей для браузеров
                    dl.box__term
                        dt Разделение стилей для браузеров
                        dd







