extends layout/layout

block vars
    - var pageTitle = 'CSS3-анимации'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 CSS3-анимации
            h2.box__h2 #1 Основная инфо
            dl.box__term
                dt Кроссбраузерность
                dd





