extends layout/layout

block vars
    - var pageTitle = 'CSS3-трансформации'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 CSS3-трансформации
            h2.box__h2 #1 Основная инфо
            dl.box__term
                dt Для чего?
                dd позволяет сдвигать, поворачивать и масштабировать элементы. Трансформации преобразовывают элемент, не затрагивая остальные элементы веб-страницы, т.е. другие элементы не сдвигаются относительно него.
            dl.box__term
                dt Свойство transform
                dd задаёт вид преобразования элемента. Свойство описывается с помощью функций трансформации, которые смещают элемент относительно его текущего положения на странице или изменяют его первоначальные размеры и форму.
            dl.box__term
                dt Свойство transform-origin
                dd позволяет сместить центр трансформации, относительно которого происходит изменение положения/размера/формы элемента. Значение по умолчанию — center, или 50% 50%. Задаётся только для трансформированных элементов.
            dl.box__term
                dt Элементы которые могут быть трансформированы:
                dd
                    ul.box__list
                        li display: block;
                        li display: inline-block;
                        li display: table-row;
                        li display: table-row-group;
                        li display: table-header-group;
                        li display: table-footer-group;
                        li display: table-cell;
                        li display: table-caption;
        .box
            h2.box__h2 #2 Виды CSS3-трансформаций
            dl.box__term
                dt 2D-трансформации
                dd преобразовывают элементы в двумерном пространстве c помощью 2D-матрицы преобразований. Эта матрица применяется для вычисления новых координат объекта, на основе значений свойств transform и transform-origin. Преобразования влияют только на визуальный рендеринг. В отношении макета страницы они могут отразиться на переполнении содержимого блока. По умолчанию точка трансформации находится в центре элемента.
            dl.box__term
                dt 3D-трансформации
                dd расширяет спецификацию CSS 2D Transforms, позволяя преобразовывать элементы в трехмерном пространстве. Новые функции преобразования для свойства transform выполняют трехмерные преобразования, расширяя координатное пространство до трех измерений, добавляя ось Z, перпендикулярную плоскости экрана, которая увеличивается по направлению к зрителю, а дополнительные свойства позволяют контролировать взаимодействие вложенных трехмерных преобразованных элементов.
        .box
            h2.box__h2 #3 2D-трансформации, возможные значения
            dl.box__term
                dt transform: none
                dd значение по умолчанию, означает отсутствие трансформации. Также отменяет трансформацию для элемента из группы трансформируемых элементов.
            dl.box__term
                dt transform: initial
                dd Устанавливает значение свойства в значение по умолчанию.
            dl.box__term
                dt transform: inherit
                dd Наследует значение свойства от родительского элемента.
            dl.box__term
                dt transform: translate()
                dd Функция translate(x,y) / translateX(n) / translateY(n)
                dd Сдвигает элемент на новое место, перемещая относительно обычного положения вправо и вниз, используя координаты X и Y, не затрагивая при этом соседние элементы. Если нужно сдвинуть элемент влево или вверх, то нужно использовать отрицательные значения.
            dl.box__term
                dt transform: scale()
                dd Функция scale(x,y) / scaleX(n) / scaleY(n)
                dd Масштабирует элементы, делая их больше или меньше. Значения от 0 до 1 уменьшают элемент. Первое значение масштабирует элемент по ширине, второе — по высоте. Отрицательные значения отображают элемент зеркально.
            dl.box__term
                dt transform: rotate()
                dd Функция rotate(угол)
                dd Поворачивает элементы на заданное количество градусов, отрицательные значения от -1deg до -360deg поворачивают элемент против часовой стрелки, положительные — по часовой стрелке. Значение rotate(720deg) поворачивает элемент на два полных оборота.
            dl.box__term
                dt transform: skew()
                dd Функция skew(x-угол,y-угол) / skewX(угол) / skewY(угол)
                dd Используется для деформирования (искажения) сторон элемента относительно координатных осей. Если указано одно значение, второе будет определено браузером автоматически.
            dl.box__term
                dt transform: matrix()
                dd Функция matrix(a, c, b, d, x, y)
                dd Смещает элементы и задает способ их трансформации, позволяя объединить несколько функций 2D-трансформаций в одной. В качестве трансформации допустимы поворот, масштабирование, наклон и изменение положения.
                dd Значение a изменяет масштаб по горизонтали. Значение от 0 до 1 уменьшает элемент, больше 1 — увеличивает.
                dd Значение c деформирует (сдвигает) стороны элемента по оси Y, положительное значение — вверх, отрицательное — вниз.
                dd Значение b деформирует (сдвигает) стороны элемента по оси X, положительное значение — влево, отрицательное — вправо.
                dd Значение d изменяет масштаб по вертикали. Значение меньше 1 уменьшает элемент, больше 1 — увеличивает.
                dd Значение x смещает элемент по оси X, положительное — вправо, отрицательное — влево.
                dd Значение y смещает элемент по оси Y, положительное значение — вниз, отрицательное — вверх.
        .box
            h2.box__h2 #4 Примеры transform
            p
                span.alert
                    a(href="https://codepen.io/nazarelen/pen/EaNbLX" target="_blank") Примеры
        .box
            h2.box__h2 #5 2D-трансформации, возможные значения transform-origin
            dl.box__term
                dt transform-origin: initial
                dd Устанавливает значение свойства в значение по умолчанию.
            dl.box__term
                dt transform-origin: inherit
                dd Наследует значение свойства от родительского элемента.
            dl.box__term
                dt transform-origin: ось Х(left, center, right, длина, %) ось Y(top, center, bottom, длина, %)
                dd Пара значений, заданная с помощью ключевых слов, единиц длины или процентов определяет, относительно какой части элемента будет происходить трансформация. Значения больше 100% увеличивают область трансформации элемента.
        .box
            h2.box__h2 #6 Примеры transform-origin + анимации...
            p
                span.alert
                    a(href="https://codepen.io/nazarelen/pen/aNQNva" target="_blank") Примеры
        .box
            h2.box__h2 #7 Множественные трансформации
            dl.box__term
                dt transform: scale(1.5) rotate(-10deg);
                dd Можно объединить несколько трансформаций одного элемента, перечислив их через пробел в порядке проявления.
        .box
            h2.box__h2 #8 Трансформации на практике: как сделать ленточки
            p
                span.alert
                    a(href="https://codepen.io/nazarelen/pen/BKGZPP" target="_blank") Примеры




                