extends layout/layout

block vars
    - var pageTitle = 'CSS3-transition'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    div.block
        .block__title Заголовок блока
        .block__body
            .block__element
            .block__img-wrap
                img(src="" alt="картинка").block__img



    .container
        .box
            h1.box__h1 CSS3-transition
            h2.box__h2 #1 Основная инфо
            dl.box__term
                dt Кроссбраузерность
                dd





