extends layout/layout

block vars
    - var pageTitle = 'Инструменты разработчика'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container

        .box
            h1.box__h1 Инструменты разработчика
            h2.box__h2 #1 Что такое devtools?
            dl.box__term
                dt Инструменты разработчика
                dd это режим, в котором вы можете просматривать стили страницы, смотреть скорость загрузки, ошибки JavaScript, структуру страницы. ИР есть в любом браузере практически, однако в каждом браузере чуть отличается между собой. Самый удобный ИР в браузере Google Chrome.
        .box
            h2.box__h2 #2 Возможности и использование
            h3.box__h3 Способы открыть (Google Chrome)
            ul.box__list
                li ПКМ - просмотреть код (см. скрин)
                li комбинация Ctrl + Shift + I (для windows)
            img.box__screen(src="./assets/imgs/devtools1.jpg" alt="devtools")
        .box
            h3.box__h3 Возможности (см. скрины)
            ul.box__list
                li (1) инструмент, позволяет после его активации выбрать определенный элемент на странице для просмотра его разметки и свойств
                li (2) инструмент, для включения/выключения адаптивного режима
                li Elements (3) - вкладка с структурой HTML страницы
                li Console (4) - вкладка для удобной отладки работы скриптов javascript
                li Network (5) - вкладка для просмотра скорости загрузки элементов страницы сайта
                li Styles (6) - позволяет увидеть список стилей примененных к выбранному элементу
            img.box__screen(src="./assets/imgs/devtools2.jpg" alt="devtools")
            img.box__screen(src="./assets/imgs/devtools3.jpg" alt="devtools")