extends layout/layout

block vars
    - var pageTitle = 'HTML base'
    - var pageBodyClass = 'noreset'
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 HTML base
            h2.box__h2 (В примерах отображается стилизация тегов по умолчанию!)
            h2.box__h2 #1 Базовые теги
            dl.box__term
                dt Форматирование текста
                dd(style="font-style: normal;")
                    p Сайт рыбатекст <b>поможет</b> дизайнеру, <em>верстальщику</em>, вебмастеру сгенерировать несколько абзацев более
                         | менее осмысленного текста рыбы на <abbr title="Cascading style Sheets">CSS</abbr> русском языке, а начинающему оратору отточить навык публичных
                         | выступлений в <sup>домашних</sup> условиях. <i>При создании</i> генератора мы <strong>использовали</strong> небезизвестный
                         | универсальный код речей. <small>Текст генерируется абзацами</small> случайным <sub>образом</sub> от двух до десяти
                         | предложений в абзаце, что позволяет <ins>сделать</ins> текст более <del>привлекательным</del> и живым для
                         | <mark>визуально-слухового</mark> восприятия.
                    p Сайт <kbd>рыбатекст поможет</kbd> дизайнеру, верстальщику, <samp>вебмастеру сгенерировать</samp> несколько абзацев более
                        | менее осмысленного <bdo dir="rtl">текста рыбы на русском языке</bdo>, а начинающему оратору отточить навык публичных
                        | выступлений в домашних условиях.<q>При создании генератора мы использовали небезизвестный универсальный код речей.</q> При создании генератора мы использовали небезизвестный
                        | универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти
                        | предложений в абзаце, что позволяет сделать текст более привлекательным и живым для
                        | визуально-слухового восприятия.
                    br
                    blockquote При создании генератора мы использовали небезизвестный универсальный код речей.
                    hr
                ul.box__list(style="list-style: none; margin:  0 0 20px;")
                    li &lt;p&gt; - разбивает текст на отдельные абзацы, отделяя друг от друга пустой строкой. Браузер автоматически добавляет верхний и нижний отступ, равный 1em, при этом отступы соседних абзацев «схлопываются».
                    li &lt;b&gt; - задаёт полужирное начертания шрифта.
                    li &lt;strong&gt; - задаёт полужирное начертание шрифта, относится к тегам логической разметки, указывая браузеру на важность текста.
                    li &lt;i&gt; - отображает шрифт курсивом.
                    li &lt;em&gt; - отображает шрифт курсивом, придавая тексту значимость.
                    li &lt;small&gt; - уменьшает размер шрифта на единицу по отношению к обычному тексту.
                    li &lt;sub&gt; - используется для создания нижних индексов. Сдвигает текст ниже уровня строки, уменьшая его размер.
                    li &lt;sup&gt; - используется для создания степеней. Сдвигает текст выше уровня строки, уменьшая его размер.
                    li &lt;ins&gt; - выделяет текст в новой версии документа, подчёркивая его.
                    li &lt;del&gt; - перечёркивает текст. Используется для выделения текста, удаленного из документа.
                    li &lt;mark&gt; - применяется для выделения фрагментов текста в справочных целях, окрашивая блок символов желтым цветом.
                    li &lt;code&gt; - служит для выделения фрагментов программного кода. Отображается моноширинным шрифтом.
                    li &lt;kbd&gt; - отмечает фрагмент как вводимый пользователем с клавиатуры. Отображается моноширинным шрифтом.
                    li &lt;samp&gt; - применяется для выделения результата, полученного в ходе выполнения программы. Отображается моноширинным шрифтом.
                    li &lt;abbr&gt; - Применяется для форматирования аббревиатур. Браузером обычно подчеркивается пунктирной линией. Расшифровка сокращения осуществляется с помощью атрибута title, она появляется при наведении курсора мыши на текст.
                    li &lt;bdo&gt; - используется для замещения текущего направления текста, т.е. текст в теге отображается зеркально.
                    li &lt;blockquote&gt; - Выделяет цитаты внутри документа, выделяя его отступами и переносами строк. Для тега доступен атрибут cite.
                    li &lt;q&gt; - используется для выделения коротких цитат. Браузерами заключается в кавычки. Для тега доступен атрибут cite.
                    li &lt;cite&gt; - применяется для выделения цитат, названий произведений, сносок на другие документы.
                    li &lt;dfn&gt; - позволяет выделить текст как определение. Несмотря на наличие специального тега, рекомендуется выделять текст силами CSS.
                    li &lt;br&gt; - переносит текст на следующую строку, создавая разрыв строки.
                    li &lt;hr&gt; - используется для разделения контента на веб-странице. Отображается в виде горизонтальной линии.
            dl.box__term
                dt Заголовки
                dd &lt;h1&gt; ; &lt;h2&gt; ; &lt;h3&gt; ; &lt;h4&gt; ; &lt;h5&gt; ; &lt;h6&gt;
                dd
                    h1 Заголовок h1
                    h2 Заголовок h2
                    h3 Заголовок h3
                    h4 Заголовок h4
                    h5 Заголовок h5
                    h6 Заголовок h6
            dl.box__term
                dt Маркированный список
                dd &lt;ul&gt;
                    span.tab &lt;li&gt;&lt;/li&gt;
                    span.tab &lt;li&gt;&lt;/li&gt;
                    span.tab &lt;li&gt;&lt;/li&gt;
                    span.tab &lt;li&gt;&lt;/li&gt;
                    | &lt;/ul&gt;
                dd
                    ul
                        li пункт
                        li пункт
                        li пункт
                        li пункт
                        li пункт
            dl.box__term
                dt Нумерованный список
                dd &lt;ol&gt;
                    span.tab &lt;li&gt;&lt;/li&gt;
                    span.tab &lt;li&gt;&lt;/li&gt;
                    span.tab &lt;li&gt;&lt;/li&gt;
                    | &lt;/ol&gt;
                dd
                    ol
                        li пункт
                        li пункт
                        li пункт
                        li пункт
                        li пункт
            dl.box__term
                dt Таблицы
                dd &lt;table&gt;
                    span.tab &lt;tr&gt;
                    span.tab2 &lt;th&gt;&lt;/th&gt;
                    span.tab2 &lt;th&gt;&lt;/th&gt;
                    span.tab2 &lt;th&gt;&lt;/th&gt;
                    span.tab &lt;/tr&gt;
                    span.tab &lt;tr&gt;
                    span.tab2 &lt;td&gt;&lt;/td&gt;
                    span.tab2 &lt;td&gt;&lt;/td&gt;
                    span.tab2 &lt;td&gt;&lt;/td&gt;
                    span.tab &lt;/tr&gt;
                    | &lt;/table&gt;
                dd
                    table(style="width:100%")
                        tr
                          th Firstname
                          th Lastname
                          th Age
                        tr
                          td Jill
                          td Smith
                          td 50
                        tr
                          td Eve
                          td Jackson
                          td 94
                p
                    span.alert Расширенная инфо по таблицам -> <a href="https://www.w3schools.com/html/html_tables.asp" target="_blank">ссылка</a>
            dl.box__term
                dt Изображения
                dd
                    img(src="error/path" alt="Альтернативный текст если картинка не найдена" title="Заголовок картинки")
                dd
                    img(src="https://www.howitworksdaily.com/wp-content/uploads/2015/06/Animals_Cats_Cat_in_the_night_031842_-1024x640.jpg"
                        alt="image alt" title="Заголовок картинки" width="200" height="50")
                dd
                    img(src="https://www.howitworksdaily.com/wp-content/uploads/2015/06/Animals_Cats_Cat_in_the_night_031842_-1024x640.jpg"
                    alt="image alt" title="Заголовок картинки" width="500")
                dd
                    img(src="./assets/imgs/cat.jpg" alt="Альтернативный текст если картинка не найдена" title="Заголовок картинки" width="500")
                p
                    span.alert Расширенная инфо по изображениям -> <a href="https://www.w3schools.com/tags/tag_img.asp" target="_blank">ссылка</a>
