extends layout/layout

block vars
    - var pageTitle = 'Блочные/строчные элементы'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 Блочные/строчные элементы
            h2.box__h2 #1 Виды html элементов

            dl.box__term
                dt Блочные
                dd Блочные элементы являются основой, которая используется для верстки веб-страниц. Такой элемент представляет
                    | собой прямоугольник, который по умолчанию занимает всю доступную ширину страницы (если иное значение не
                    | указано в CSS), а длина элемента зависит от его содержимого. Такой элемент всегда начинается с новой строки,
                    | то есть, располагается под предыдущим элементом. Блочный элемент может содержать в себе другие блочные и
                    | строчные элементы.
                dd &lt;div&gt; ; &lt;p&gt; ; &lt;ul&gt; ; &lt;ol&gt; ; &lt;h1&gt; ... etc
            dl.box__term
                dt Строчные
                dd В отличие от блочного, строчный элемент не переносится на новую строку, а располагается на той же строке,
                    | что и предыдущий элемент. Такие элементы, как правило, находятся внутри блочных элементов и их ширина зависит
                    | лишь от содержимого и настроек CSS. Еще одно отличие строчного элемента от блочного заключается к том,
                    | что в нем может находиться только контент и другие строчные элементы. <span class="important">Блочные элементы
                    | в строчные вкладывать нельзя</span>.
                dd &lt;a&gt; ; &lt;span&gt; ; &lt;strong&gt; ; &lt;em&gt; ; &lt;img&gt; ... etc
        .box
            h2.box__h2 #2 Пример
            div(style="border: 1px solid #fff; height: 50px;") div - блочный
            div(style="border: 1px solid red; height: 50px;") div - блочный
            div(style="border: 1px solid blue; height: 50px;") div - блочный
            div(style="border: 1px solid green; height: 50px;") div - блочный
            span(style="border: 1px solid #fff; height: 50px;") span - строчный
            span(style="border: 1px solid red; height: 50px;") span - строчный
            span(style="border: 1px solid blue; height: 50px;") span - строчный
            span(style="border: 1px solid green; height: 50px;") span - строчный