extends layout/layout

block vars
    - var pageTitle = 'Базовый HTML'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 Базовый HTML
            h2.box__h2 #1 Введение в HTML
            dl.box__term
                dt Тег (HTML элемент)
                dd это основная структурная единица веб-страницы, написанная на языке HTML.
        .box
            h2.box__h2 #2 Базовая структура HTML
            img.box__screen(src="./assets/imgs/base_html.jpg" alt="html")
            dl.box__term
                dt &lt;!DOCTYPE html&gt;
                dd Элемент предназначен для указания типа текущего документа — DTD (document type definition, описание типа документа).  Это необходимо, чтобы браузер понимал, как следует интерпретировать текущую веб-страницу, поскольку HTML существует в нескольких версиях, кроме того, имеется XHTML (EXtensible HyperText Markup Language, расширенный язык разметки гипертекста), похожий на HTML, но различающийся с ним по синтаксису. Чтобы браузер «не путался» и понимал, согласно какому стандарту отображать веб-страницу и необходимо в первой строке кода задавать &lt;!DOCTYPE&gt;.<br> Есть несколько вариантов DOCTYPE. Самый актуальный - в примере. Он появился в HTML5 , и является актуальным до сих пор.
            dl.box__term
                dt &lt;html&gt;
                dd Открывающий тег &lt;html&gt; определяет начало HTML-документа, внутри него хранится «голова» (&lt;head&gt;) и «тело» документа (&lt;body&gt;).
            dl.box__term
                dt &lt;head&gt;
                dd Содержимое этого раздела не показывается напрямую на странице, за исключением элемента &lt;title&gt;. Внутри &lt;head&gt; могут располагаться следующие элементы: &lt;base&gt;, &lt;link&gt;, &lt;meta&gt;, &lt;script&gt;, &lt;style&gt; или &lt;title&gt;.
            dl.box__term
                dt &lt;body&gt;
                dd Внутри body находится структура документа, все теги, а также может быть подключен JS.
            dl.box__term
                dt &lt;title&gt;
                dd Определяет заголовок документа.
            dl.box__term
                dt &lt;meta&gt;
                dd является универсальным и добавляет целый класс возможностей, в частности, с помощью метатега, как обобщённо называют этот элемент, можно изменить кодировку страницы, добавить ключевые слова, описание документа и многое другое, предназначенное для браузера или поисковых систем. В частности, чтобы браузер понимал, что имеет дело с кодировкой UTF-8 (Unicode transformation format, формат преобразования Юникод) и добавляется данная строка.
        .box
            h2.box__h2 #3 Виды тегов
            dl.box__term
                dt парные
                dd &lt;div&gt;&lt;/div&gt; ; &lt;span&gt;&lt;/span&gt; ; &lt;b&gt;&lt;/b&gt; ... etc
            dl.box__term
                dt непарные
                dd &lt;!DOCTYPE html&gt; ; &lt;link&gt; ; &lt;img&gt; ; &lt;input&gt; ; &lt;br&gt; ; &lt;hr&gt; ... etc
            .box__text
                p Все теги делятся между собой по разным критериям. Самые основные - это парные и непарные теги. Название говорит само за себя. В случае  с парным тегом обязательно должен быть закрывающий тег, с таким же названием но дополнительным символом. Непарные же теги имеют закрывающий символ в конце

        .box
            h2.box__h2 #4 Виды html элементов
            dl.box__term
                dt Блочные
                dd Блочные элементы являются основой, которая используется для верстки веб-страниц. Такой элемент представляет
                    | собой прямоугольник, который по умолчанию занимает всю доступную ширину страницы (если иное значение не
                    | указано в CSS), а длина элемента зависит от его содержимого. Такой элемент всегда начинается с новой строки,
                    | то есть, располагается под предыдущим элементом. Блочный элемент может содержать в себе другие блочные и
                    | строчные элементы.
                dd &lt;div&gt; ; &lt;p&gt; ; &lt;ul&gt; ; &lt;ol&gt; ; &lt;h1&gt; ... etc
            dl.box__term
                dt Строчные
                dd В отличие от блочного, строчный элемент не переносится на новую строку, а располагается на той же строке,
                    | что и предыдущий элемент. Такие элементы, как правило, находятся внутри блочных элементов и их ширина зависит
                    | лишь от содержимого и настроек CSS. Еще одно отличие строчного элемента от блочного заключается к том,
                    | что в нем может находиться только контент и другие строчные элементы. <span class="important">Блочные элементы
                    | в строчные вкладывать нельзя</span>.
                dd &lt;a&gt; ; &lt;span&gt; ; &lt;strong&gt; ; &lt;em&gt; ; &lt;img&gt; ... etc
            div(style="border: 1px solid #fff; height: 50px;") div - блочный
            div(style="border: 1px solid red; height: 50px;") div - блочный
            div(style="border: 1px solid blue; height: 50px;") div - блочный
            div(style="border: 1px solid green; height: 50px;") div - блочный
            span(style="border: 1px solid #fff; height: 50px;") span - строчный
            span(style="border: 1px solid red; height: 50px;") span - строчный
            span(style="border: 1px solid blue; height: 50px;") span - строчный
            span(style="border: 1px solid green; height: 50px;") span - строчный