extends layout/layout

block vars
    - var pageTitle = 'Знакомство с тегами'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 Знакомство с тегами
            h2.box__h2 #1 Форматирование текста
            dl.box__term
                dd
                    p.codepen(data-height='382' data-theme-id='dark' data-default-tab='html,result' data-user='helentr7' data-slug-hash='oNZBGJQ' style='height: 382px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;' data-pen-title='Форматирование текста')
                    span
                        | See the Pen 
                        a(href='https://codepen.io/helentr7/pen/oNZBGJQ') Форматирование текста
                    script(async='' src='https://cpwebassets.codepen.io/assets/embed/ei.js')

                br
                ul.box__list(style="list-style: none; margin:  0 0 20px;")
                    li &lt;p&gt; - разбивает текст на отдельные абзацы, отделяя друг от друга пустой строкой. Браузер автоматически добавляет верхний и нижний отступ, равный 1em, при этом отступы соседних абзацев «схлопываются».
                    li &lt;b&gt; - задаёт полужирное начертания шрифта.
                    li &lt;strong&gt; - задаёт полужирное начертание шрифта, относится к тегам логической разметки, указывая браузеру на важность текста.
                    li &lt;i&gt; - отображает шрифт курсивом.
                    li &lt;em&gt; - отображает шрифт курсивом, придавая тексту значимость.
                    li &lt;small&gt; - уменьшает размер шрифта на единицу по отношению к обычному тексту.
                    li &lt;sub&gt; - используется для создания нижних индексов. Сдвигает текст ниже уровня строки, уменьшая его размер.
                    li &lt;sup&gt; - используется для создания степеней. Сдвигает текст выше уровня строки, уменьшая его размер.
                    li &lt;ins&gt; - выделяет текст в новой версии документа, подчёркивая его.
                    li &lt;del&gt; - перечёркивает текст. Используется для выделения текста, удаленного из документа.
                    li &lt;mark&gt; - применяется для выделения фрагментов текста в справочных целях, окрашивая блок символов желтым цветом.
                    li &lt;code&gt; - служит для выделения фрагментов программного кода. Отображается моноширинным шрифтом.
                    li &lt;kbd&gt; - отмечает фрагмент как вводимый пользователем с клавиатуры. Отображается моноширинным шрифтом.
                    li &lt;samp&gt; - применяется для выделения результата, полученного в ходе выполнения программы. Отображается моноширинным шрифтом.
                    li &lt;abbr&gt; - Применяется для форматирования аббревиатур. Браузером обычно подчеркивается пунктирной линией. Расшифровка сокращения осуществляется с помощью атрибута title, она появляется при наведении курсора мыши на текст.
                    li &lt;bdo&gt; - используется для замещения текущего направления текста, т.е. текст в теге отображается зеркально.
                    li &lt;blockquote&gt; - Выделяет цитаты внутри документа, выделяя его отступами и переносами строк. Для тега доступен атрибут cite.
                    li &lt;q&gt; - используется для выделения коротких цитат. Браузерами заключается в кавычки. Для тега доступен атрибут cite.
                    li &lt;cite&gt; - применяется для выделения цитат, названий произведений, сносок на другие документы.
                    li &lt;dfn&gt; - позволяет выделить текст как определение. Несмотря на наличие специального тега, рекомендуется выделять текст силами CSS.
                    li &lt;br&gt; - переносит текст на следующую строку, создавая разрыв строки.
                    li &lt;hr&gt; - используется для разделения контента на веб-странице. Отображается в виде горизонтальной линии.
        .box
            h2.box__h2 #2 Заголовки
            dl.box__term
                dd
                p.codepen(data-height='265' data-theme-id='dark' data-default-tab='html,result' data-user='helentr7' data-slug-hash='rNyjGdw' style='height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;' data-pen-title='Заголовки')
                span
                    | See the Pen 
                    a(href='https://codepen.io/helentr7/pen/rNyjGdw') Заголовки
                script(async='' src='https://cpwebassets.codepen.io/assets/embed/ei.js')
        .box
            h2.box__h2 #3 Маркированные/нумерованные списки
            dl.box__term
                dd
                    p.codepen(data-height='265' data-theme-id='dark' data-default-tab='html,result' data-user='helentr7' data-slug-hash='LYWxzvX' style='height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;' data-pen-title='Списки')
                    span
                        | See the Pen 
                        a(href='https://codepen.io/helentr7/pen/LYWxzvX') Маркированные/нумерованные списки
                    script(async='' src='https://cpwebassets.codepen.io/assets/embed/ei.js')
        .box
            h2.box__h2 #4 Таблицы
            dl.box__term
                dt
                    a.alert( href="https://www.w3schools.com/html/html_tables.asp" target="_blank") -> Расширенная инфо по таблицам
                dd
                    p.codepen(data-height='265' data-theme-id='dark' data-default-tab='html,result' data-user='helentr7' data-slug-hash='PopWJMw' style='height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;' data-pen-title='Таблицы')
                    span
                        | See the Pen 
                        a(href='https://codepen.io/helentr7/pen/PopWJMw') Таблицы
                    script(async='' src='https://cpwebassets.codepen.io/assets/embed/ei.js')
        .box
            h2.box__h2 #5 Ссылки/кнопки    
            dl.box__term
                dd
                    p.codepen(data-height='265' data-theme-id='dark' data-default-tab='html,result' data-user='helentr7' data-slug-hash='WNpRXQR' style='height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;' data-pen-title='Ссылки/кнопки')
                    span
                        | See the Pen 
                        a(href='https://codepen.io/helentr7/pen/WNpRXQR') Ссылки/кнопки
                    script(async='' src='https://cpwebassets.codepen.io/assets/embed/ei.js')
        .box
            h2.box__h2 #6 Изображения  
            dl.box__term
                dt
                    a.alert( href="https://www.w3schools.com/tags/tag_img.asp" target="_blank") -> Расширенная инфо по изображениям  
                dd
                    h3.box__h4 Аттрибуты:
                    ul.box__list
                        li src(обязательный) - путь к картинке
                        li alt(обязательный) - альтернативный текст
                        li title - текст при наведении на картинку
                    p.codepen(data-height='265' data-theme-id='dark' data-default-tab='html,result' data-user='helentr7' data-slug-hash='GRWrONp' style='height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;' data-pen-title='Изображения')
                    span
                        | See the Pen 
                        a(href='https://codepen.io/helentr7/pen/GRWrONp') Изображения
                    script(async='' src='https://cpwebassets.codepen.io/assets/embed/ei.js')

