extends layout/layout

block vars
    - var pageTitle = 'Знакомство с Frontend'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 Знакомство с Frontend
            h2.box__h2 #1 Погружение
            h3.box__h3 Что такое Web?
            dl.box__term
                dt Frontend (browser)
                dd HTML, CSS, JS, jQuery, ReactJS, Vue.js, Angular, Backbone, Polymer etc
            dl.box__term
                dt Backend (server)
                dd PHP, Node.js, Java, RoR, .Net, C++, C#, Python etc
            dl.box__term
                dt HTML (HyperText Markup Language — «язык гипертекстовой разметки»)
                dd самый базовый строительный блок Веба. Он определяет содержание и структуру веб-контента.
            dl.box__term
                dt CSS (Cascading Style Sheets — «каскадные таблицы стилей»)
                dd формальный язык описания внешнего вида веб-страницы, написанной с использованием языка разметки.
            dl.box__term
                dt JavaScript (язык программирования)
                dd язык сценариев для придания интерактивности веб-страницам.
        .box
            h2.box__h2 #2 Редактор кода/ Среда разработки/(IDE)
            h3.box__h3 Что это?
            dl.box__term
                dt IDE 
                dd комплекс программных средств, используемый программистами для разработки программного обеспечения (ПО).
            h3.box__h3 Некоторые редакторы/IDE:
            ul.box__term  
                dt Notepad++
                dt Brackets
                dt Sublime Text 
                dt Atom
                dt VSCode
                dt WebStorm
        .box
            h2.box__h2 #3 Devtools (инструменты разработчика)
            h3.box__h3 Что это?
            dl.box__term
                dt Инструменты разработчика
                dd это режим, в котором вы можете просматривать стили страницы, смотреть скорость загрузки, ошибки JavaScript, структуру страницы. ИР есть в любом браузере практически, однако в каждом браузере чуть отличается между собой. Самый удобный ИР в браузере Google Chrome.
            h3.box__h3 Способы открыть (Google Chrome)
            ul.box__list
                li ПКМ - просмотреть код (см. скрин)
                li комбинация Ctrl + Shift + I (для windows)
            img.box__screen(src="./assets/imgs/devtools1.jpg" alt="devtools")
            h3.box__h3 Возможности (см. скрины)
            ul.box__list
                li (1) инструмент, позволяет после его активации выбрать определенный элемент на странице для просмотра его разметки и свойств
                li (2) инструмент, для включения/выключения адаптивного режима
                li Elements (3) - вкладка с структурой HTML страницы
                li Console (4) - вкладка для удобной отладки работы скриптов javascript
                li Network (5) - вкладка для просмотра скорости загрузки элементов страницы сайта
                li Styles (6) - позволяет увидеть список стилей примененных к выбранному элементу
            img.box__screen(src="./assets/imgs/devtools2.jpg" alt="devtools")
            img.box__screen(src="./assets/imgs/devtools3.jpg" alt="devtools")