extends layout/layout

block vars
    - var pageTitle = 'SVG'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .container
        .box
            h1.box__h1 SVG
            h2.box__h2 #1 Основная инфо
            dl.box__term
                dt
                dd
            p SVG — это формат векторной графики.
            p достоинств SVG — человекопонятный код
            p Также SVG-элементы можно оформить с помощью CSS
            p SVG можно встраивать несколькими разными способами, мы рассмотрим их позже, а сейчас будем вставлять его непосредственно в код страницы.
            p В SVG есть несколько способов нарисовать фигуру, для простых фигур есть свои теги.
            p Например, прямоугольник рисуется с помощью тега rect.
            p Чтобы задать координаты прямоугольника, используются атрибуты x и y. Координаты определяют положение верхнего левого угла фигуры.
            p Скруглением углов прямоугольника управляют параметры rx и ry.
            <svg height="250" width="330">
            <rect class="leg" width="15" height="30" x="180" y="210" rx="2" fill="black" />
            <rect class="leg" width="15" height="30" x="5" y="190" rx="10" fill="black" />

            <rect class="case" width="300" height="200" x="20" y="25" rx="30" fill="dimgray" />
            <rect class="screen" width="200" height="160" x="30" rx="10" fill="deepskyblue" />

            <rect class="panel" width="80" height="110" x="200" y="50" fill="black" />

            <rect class="button" width="20" height="10" x="245" y="70" rx="2" fill="red" />
            <rect class="button" width="30" height="30" x="265" y="95" rx="4" fill="gold" />
            <rect class="button" width="40" height="20" x="225" y="120" rx="7" fill="lime" />
            </svg>
            p В SVG можно рисовать не только четырёхугольники, но и многоугольники, это делается с помощью тега polygon.
            svg
                <polygon points="70,5 90,41 136,48 103,80 111,126 70,105 29,126 36,80 5,48 48,41"/>
            p Окружность рисуется с помощью тега circle
            svg
                <circle r="50"/>
            p Эллипс рисуется почти так же, как круг, но у него два радиуса: по горизонтальной оси — rx, и по вертикальной — ry.
            svg
                <ellipse rx="30" ry="40%"/>
            p Линии рисуются с помощью тега line. Координаты начала линии задаются атрибутами x1 и y1, координаты конца — атрибутами x2 и y2.
            svg
                <line x1="220" y1="10" x2="20" y2="130"/>
            p Так как линия не образует фигуру с внутренним контуром, для отображения ей нужно задать не заливку, а обводку. Обводкой управляют два атрибута: stroke и stroke-width. Атрибут stroke задаёт цвет обводки, stroke-width — толщину линии.
            svg
                <line x1="220" y1="20" x2="20" y2="90" stroke="violet" stroke-width="5" />
            p Ломаные линии рисуются с помощью тега polyline. Координаты точек на линии задаются в атрибуте points, как для polygon.
            svg
                <polyline points="10,135 100,10 55,135 10,10 105,135"/>
            p Разница между polygon и polyline заключается в поведении обводки: у многоугольника обводка замыкается сама по себе (левая фигура), а у ломаной линии — остаётся незамкнутой (фигура справа):
            <svg width="340" style="border: 1px solid #DDD"><g transform="translate(10,10)"><polygon points="70,5 90,41 136,48 103,80 111,126 70,105 29,126 36,80 5,48 48,41" fill="yellow" stroke="orange" stroke-width="5"></polygon><polyline transform="translate(170)" points="70,5 90,41 136,48 103,80 111,126 70,105 29,126 36,80 5,48 48,41" fill="yellow" stroke="orange" stroke-width="5"></polyline></g></svg>
        .box
            h2.box__h2 #2 Основная инфо 2
            p Заливки - fill
            p Прозрачность заливки - fill-opacity
            p Обводки - stroke
            p Толщина обводки - stroke-width
            p Прозрачность обводки - stroke-opacity
            p Концы линий - stroke-linecap
            ul
                li 1. butt — значение по умолчанию. С этим значением обводка просто заканчивается на концах линии:
                li 2. round, с этим значением обводка равномерно закругляется вокруг концов линии:
                li 3. square, с этим значением вокруг концов линии добавляется дополнительная обводка с прямоугольными краями:
            p Вид сгибов - stroke-linejoin
            ul
                li 1. miter — значение по умолчанию. Обводка в месте сгиба линии никак не видоизменяется.
                li 2. round, обводка в месте сгиба линии равномерно закругляется.
                li 3. bevel, обводка в месте сгиба линии складывается как лента.
            p Пунктирные линии - stroke-dasharray
            p Сдвиг обводки - stroke-dashoffset
            <svg style="height:130px;border:1px solid #dddddd"><g fill="none" stroke-width="15" stroke-dasharray="50"><rect width="100" height="100" x="25" y="15" stroke="yellowgreen"></rect><circle r="50" cx="225" cy="65" stroke="gold"></circle></g></svg>

            <svg style="height:130px;border:1px solid #dddddd"><g fill="none" stroke-width="15" stroke-dasharray="50" stroke-dashoffset="25"><rect width="100" height="100" x="25" y="15" stroke="yellowgreen"></rect><circle r="50" cx="225" cy="65" stroke="gold"></circle></g></svg>







