//GRID
//точки адаптива
$lg: 1200px;
$md: 1024px;
$sm: 768px;
$xs: 576px;

//Цвета макета
$c-primary: #d84f5d;//основной цвет макета
$c-add: #b1b1b1;//дополнительный цвет макета
$c-text: #423D4A;//основной цвет текста макета
$c-text2: #84828D;//дополнительный цвет текста макета


// Рандомные переменные проекта

// Размер шрифта
$font-size-base: 16px;


// Шрифты
$body-font: 'Lato', sans-serif;//основной
$headers-font: 'Lato', sans-serif;//для заголовков
$add-font: 'Lato', sans-serif;//дополнительный
